<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="h-entry article article-type-<%= post.layout %> post-card"
  itemprop="blogPost"
  itemscope
  itemtype="https://schema.org/BlogPosting"
>
  <div class="article-meta">
    <% if (post.layout === 'post') { %>
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <% } %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.title){ %>
      <header class="article-header">
        <h1 itemprop="name">
          <a class="p-name article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h1>
      </header>
    <% } %>
    <div class="e-content article-entry" itemprop="articleBody">
      <% if (show_featured_image) { %>
        <% if (post.featured_image) { %>
          <%- partial('post/featured-image', {size: 'small'}) %>
        <% } %>
      <% } %>
      <% if (show_excerpt) { %>
        <% if (post.excerpt) { %>
          <%- post.excerpt %>
        <% } else { %>
          <%
            var truncated = post.content.slice(0, theme.excerpt_limit);
            truncated = truncated.slice(0, truncated.lastIndexOf(' '))
          %>
          <%- truncated %>&hellip;
        <% } %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" data-title="<%= post.title %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.disqus_shortname && post.layout === 'post'){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <% if (post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey && post.layout === 'post'){ %>
        <a href="<%- url_for(post.path) %>#comments" class="article-comment-link">
          <span class="post-comments-count valine-comment-count" data-xid="<%- url_for(post.path) %>" itemprop="commentCount"></span>
          <%= __('comment') %>
        </a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
</article>
